@use "base";

.article-container *::selection {
  background-color: base.$gray-content;
  color: white;
}

.article-container {
  font-family: -apple-system, system-ui, "Inter Variable", "Arial", sans-serif;
  padding: 25px 40px 25px 40px;
  min-height: 100dvh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: black;
  color: rgb(223, 223, 223);

  h2 {
    margin: 0;
    font-weight: 600;
  }

  a,
  p {
    font-weight: 300;
    font-size: 16px;
  }

  a {
    color: rgb(154, 154, 154);

    &:visited {
      color: rgb(154, 154, 154);
    }
  }
}

code {
  font-family: "Fragment Mono", monospace;
  font-size: 13px;
  color: rgb(144, 144, 144);
  background-color: rgb(37, 37, 37);
  border-radius: 4px;
  padding-block: 2px;
  padding-inline: 4px;
}

.astro-code {
  padding-inline: 14px;
  padding-block: 8px;
  border-radius: 4px;
}

.astro-code > code {
  padding: 0px;
  background-color: rgb(0, 0, 0, 0) !important;
}

.github-dark {
  background-color: rgb(37, 37, 37) !important;
  border: 1px solid rgb(57, 57, 57);
  margin-block: 20px;
}

/* footnote */
div [id^="user-content-fnref-"] {
  color: rgb(141, 141, 141);
  font-size: 13px;
  font-weight: 400;
}

.footnotes ::marker {
  color: rgb(141, 141, 141);
}

#footnote-label {
  display: none;
}

.data-footnote-backref {
  color: rgb(141, 141, 141) !important;
}

img:not(.sidebar_asset),
video:not(.sidebar_asset) {
  width: 100%;
  margin-block: 20px;
}

table {
  border: 1px solid rgb(57, 57, 57);
  border-radius: 3px;
  border-collapse: separate;
  overflow-wrap: break-word;
  border-spacing: 0;
  width: 100%;
  margin-block: 20px;
}

table tr:not(:last-child) td,
th {
  border-bottom: 1px solid rgb(57, 57, 57);
}

td:not(:last-child),
th:not(:last-child) {
  border-right: 1px solid rgb(57, 57, 57);
}

td,
th {
  text-align: left;
  font-weight: normal;
  padding: 0.3rem 0.5rem;
}

th:first-of-type {
  background-color: rgb(37, 37, 37);
  border-radius: 2px 0 0 0;
}

th:not(:first-of-type) {
  background-color: rgb(37, 37, 37);
}

th:not(:last-of-type) {
  background-color: rgb(37, 37, 37);
}

th:last-of-type {
  background-color: rgb(37, 37, 37);
  border-radius: 0 2px 0 0;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

blockquote {
  background: rgb(37, 37, 37) !important;
  border-left: 5px solid #4e4e4e;
  margin: 20px 0px 20px 20px;
  padding-block: 15px;
  padding-inline: 20px;
  quotes: "\201C""\201D""\2018""\2019";

  p {
    margin: 0 !important;
  }
}

hr {
  border: 0.5px solid #4e4e4e;
}

iframe {
  border-radius: 8px;
  // margin-block: 20px;
}

@media screen and (max-width: 864px) {
  #sidebar {
    display: none;
  }

  .article-container {
    padding: 25px 25px 15px 25px;
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 640px) {
  .article-container {
    padding: 15px 15px 5px 15px;
  }
}
