.index-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-width: 864px) {
  .index-container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: auto;
  }
}
