.header {
  margin-bottom: 15px;
}

#track-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#track-art {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.track-info {
  width: 50%;
}
