@use 'base';

div {
  font-family: "Fragment Mono", monospace, Arial, Helvetica, sans-serif;;
  font-weight: 200;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  
  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.name {
  display: flex;
  justify-content: space-between;
}

.name-link {
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: none;
  }
}

.about-link {
  color: base.$gray-content;
  text-decoration: none;

  &:visited {
    color: base.$gray-content;
  }

  &:hover {
    text-decoration: none;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 55px;
  padding: 25px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-blurb {
  width: 60%;
}

.about-links {
  margin-top: 20px;
}

.list {
  margin-top: 0px;
  margin-left: -10px;
  margin-bottom: -5px;
}

@media screen and (max-width: 1024px) {
  .about-blurb {
    width: 80%;
  }
}

@media screen and (max-width: 864px) {
  .about-blurb {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .about-blurb {
    width: 70%;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 55px;
    padding: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}