---
---

<div
  style={{
    display: "grid",
    alignItems: "center",
    width: "100vw",
    height: "100vh",
  }}
>
  <p style={{ textAlign: "center", verticalAlign: "middle" }}>
    <a href="/">How did we get here?</a>
  </p>
</div>
