---
import Sidebar from "../layouts/Sidebar.astro";
import "../styles/global.scss";
import "../styles/index.scss";
import "../styles/about.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Yihui Hu personal site" />
    <title>About</title>
  </head>
  <body>
    <div class="index-container">
      <div id="sidebar">
        <Sidebar />
      </div>
      <div class="about-page-wrapper">
        <div class="about-page-container">
          <p>Me</p>
          <div>
            <img class="about-image" src="/assets/about/toe-recreation.gif" />
            <p class="about-image-caption">c. Dec 2021</p>
          </div>
          <div class="about-blurb" style={{ marginBottom: "55px" }}>
            <p>Hello! I'm Yihui.</p>
            <br />
            <p>
              I'm from Singapore, currently studying CS at Tufts in Medford. I'm
              interested in creating shared experiences on the web and building
              with polish and performance in mind. In my free time, I continue
              to explore type, print, design and zine-making.
            </p>
            <br />
            <p>
              You can view my CV <a href="/assets/about/Yihui_Hu_CV_2023.pdf"
                >here</a
              >.
            </p>
          </div>
        </div>
        <div class="back-button">
          <p class="back-button"><a href="/">Home</a></p>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const mobile = window.innerWidth <= 864 ? true : false;
  document.getElementById("article-body")!.style.backgroundColor = mobile
    ? "black"
    : "";
</script>
