---
import Sidebar from "../layouts/Sidebar.astro";
import Content from "../components/Content";
import "../styles/global.scss";
import "../styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Yihui Hu</title>
  </head>
  <body>
    <div id="mobile">
      <div class={"index-container"}>
        <div style={{ height: "100vh" }}>
          <Content client:only="react" />
        </div>
        <Sidebar />
      </div>
    </div>
    <div id="desktop">
      <div class={"index-container"}>
        <Sidebar />
        <div style={{ height: "100vh" }}>
          <Content client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>

<script is:inline>
  const mobile = window.innerWidth <= 864 ? true : false;
  if (mobile) {
    document.getElementById("desktop").remove();
  } else {
    document.getElementById("mobile").remove();
  }
</script>
