---
import Sidebar from "../layouts/Sidebar.astro";
import Content from "../components/Content";
import "../styles/global.scss";
import "../styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Yihui Hu personal site">
    <title>Yihui Hu</title>
  </head>
  <body>
    <div class={"index-container"}>
      <Sidebar />
      <Content client:only="react" />
    </div>
  </body>
</html>