---
import NotesSidebar from "../layouts/NotesSidebar.astro";
import "@fontsource/fragment-mono";
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/banana_favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Links to corners of the web" />
    <title>Notes</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="index-container">
      <div class="sidebar">
        <NotesSidebar />
      </div>
    </div>
  </body>
</html>
