---
import "@fontsource/fragment-mono";
import "../styles/global.scss";
import "../styles/personas.scss"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/banana_favicon.png" />
    <meta name="description" content="In-game personas over the years" />
    <title>Personas</title>
  </head>
  <body>
    <a class="home" href="/">
      Yihui Hu
    </a>
    <div class="desktop">
      <div class="header">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/personas_in_games_logo.svg" class="logo" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/personas_in_games_desc.svg" class="description" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/pokemon_whole_card.png" class="card" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/pokemon_card_desc.svg" class="card-desc" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/maplestory_whole_card.png" class="card" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/maplestory_card_desc.svg" class="card-desc" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/clubpenguin_whole_card.png" class="card" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/clubpenguin_card_desc.svg" class="card-desc" draggable="false" decoding="async"
        loading="lazy" />
      </div>
    </div>
    <div class="mobile">
      <div class="header-mobile">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/personas_in_games_logo.svg" class="logo" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/personas_in_games_desc.svg" class="description" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container-mobile">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/pokemon_halftones_mobile.png" class="halftones-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/pokemon_card_mobile.png" class="card-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/pokemon_card_desc_mobile.png" class="card-desc-mobile" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container-mobile">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/maplestory_halftones_mobile.png" class="halftones-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/maplestory_card_mobile.png" class="card-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/maplestory_card_desc_mobile.png" class="card-desc-mobile" draggable="false" decoding="async"
        loading="lazy" />
      </div>
      <div class="card-container-mobile">
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/clubpenguin_halftones_mobile.png" class="halftones-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/clubpenguin_card_mobile.png" class="card-mobile" draggable="false" decoding="async"
        loading="lazy" />
        <img src="https://yihui-work.s3.us-east-2.amazonaws.com/clubpenguin_card_desc_mobile.png" class="card-desc-mobile" draggable="false" decoding="async"
        loading="lazy" />
      </div>
    </div>
    <div class="footer" />
  </body>
</html>
