---
import "../styles/currently.scss";
---

<div>
  <span>I'm currently:</span>
  <div id="currently-container">
    <img id="currently-image" src="/assets/summer.jpg" />
    <div id="currently-info">
      <span>Waiting for summer ☀️⛱️</span>
    </div>
  </div>
</div>
