---
import "../styles/currently.scss";
---

<div>
  <span>I'm currently:</span>
  <div id="currently-container">
    <img 
      id="currently-image" 
      src="https://yihui-work.s3.us-east-2.amazonaws.com/summer.jpg" 
      class="sidebar_asset"
    />
    <div id="currently-info">
      <span>Waiting for summer ☀️⛱️</span>
    </div>
  </div>
</div>
