---
import "../styles/currently.scss";
---

<div>
  <span>I'm currently:</span>
  <div id="currently-container">
    <img id="currently-image" src="/assets/teh-tarik.png" />
    <!-- <video id="currently-image" autoplay loop muted playsinline>
      <source src="/assets/fireworks.mov" type="video/mp4" />
    </video> -->
    <div id="currently-info">
      <span>Eating lots in winter</span>
    </div>
  </div>
</div>
