---
import "../styles/currently.scss";
---

<div>
  <span class="currently-header">I'm reading:</span>
  <div id="currently-container">
    <a
      href="https://www.goodreads.com/book/show/54120408-klara-and-the-sun"
      target="_blank"><img id="currently-image" src="/assets/reading.jpg" /></a
    >
    <div id="currently-info">
      <span>Typographic Knitting</span>
      <span>by Rudiger Schlomer</span>
      <span>Nov 2023</span>
    </div>
  </div>
</div>
