---
import "../styles/reading.scss";
---

<div id="reading-wrapper">
  <p class="header">I'm reading:</p>
  <div id="reading-container">
    <a id="reading-link" href="https://www.goodreads.com/book/show/59364173-i-m-glad-my-mom-died" target="_blank"
      ><img
        id="reading-art"
        src="/assets/reading.jpg"
      /></a
    >
    <div class="reading-info">
      <p id="reading-title">I'm Glad My Mom Died</p>
      <p id="reading-author">Jeanette McCurdy</p>
      <p id="reading-progress">2022</p>
    </div>
  </div>
</div>
