---
import Sidebar from "./Sidebar.astro";
import "../styles/global.scss";
import "../styles/index.scss";
import "../styles/article.scss";
import "@fontsource-variable/inter";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title}</title>
  </head>
  <body id="article-body">
    <div class="index-container">
      <div id="sidebar">
        <Sidebar />
      </div>
      <div class="article-container">
        <div class="back-button">
          <p class="back-button"><a href="/">Home</a></p>
        </div>
        <slot />
      </div>
    </div>
  </body>
</html>

<script>
  const mobile = window.innerWidth <= 864 ? true : false;
  document.getElementById("article-body")!.style.backgroundColor = mobile
    ? "black"
    : "";
</script>
