---
import Sidebar from "./Sidebar.astro";
import "@fontsource-variable/inter";
import "../styles/global.scss";
import "../styles/index.scss";
import "../styles/article.scss";
import { ViewTransitions } from 'astro:transitions';

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/banana_favicon.png" />
    <meta name="description" content={frontmatter.description} />
    <title>{frontmatter.title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="index-container">
      <div id="sidebar">
        <Sidebar />
      </div>
      <div class="article-container">
        <slot />
      </div>
    </div>
  </body>
</html>

<script>
  const mobile = window.innerWidth <= 864 ? true : false;
  document.getElementById("article-body")!.style.backgroundColor = mobile
    ? "black"
    : "";
</script>
