---
import "../styles/sidebar.scss";
import "@fontsource/fragment-mono";
import WorksList from "../components/WorksList";
import ListeningTo from "../components/ListeningTo";
import Reading from "../components/Reading.astro";
---

<div class="sidebar-container">
  <p class="name">
    <a class="name-link" href="/">Yihui Hu</a>
    <a class="about-link" href="/about">About</a>
  </p>
  <div class="about-container">
    <p class="about-blurb">
      I like to design and program. Currently studying Computer Science at
      Tufts.
    </p>
    <div class="about-links">
      I'm also on:
      <ul class="list">
        <li><a href="https://are.na/yihui-h" target="_blank">Are.na</a></li>
        <li><a href="https://github.com/yihui-hu" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/_yihui" target="_blank">Twitter</a></li>
        <li><a href="https://read.cv/yihui" target="_blank">Read.cv</a></li>
        <li><a href="https://www.goodreads.com/user/show/62844518-yihui" target="_blank">Goodreads</a></li>
      </ul>
    </div>
  </div>
  <WorksList client:load/>
  <ListeningTo client:load />
  <Reading />
  <div>
    <p>I'm currently:</p> 
    <p>Enjoying summer 🍉☀️⛱️</p>
  </div>
  <div class="about-blurb">
    <p>
      This site is built in <a href="https://astro.build" target="_blank"
        >Astro</a
      > and typeset in <a
        href="https://fonts.google.com/specimen/Fragment+Mono"
        target="_blank">Fragment Mono</a
      > and <a
        href="https://fonts.google.com/specimen/Inter"
        target="_blank">Inter</a
      >. View the source code <a
        href="https://github.com/yihui-hu/yihui-hu.github.io"
        target="_blank">here</a
      >.
    </p>
  </div>
  <p class="last-updated">Last updated: 15 Jun 2023 10:53pm EST</p>
</div>
